@use '../base/functions' as fn;
@use '../abstracts' as m;

.contact {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 5rem;
	// max-width: 30rem;

	&__form {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		width: 100%;

		@include m.tabletUp {
			width: 30rem;
		}

		&_input {
			display: flex;
			flex-direction: column;
			border-bottom: 1px solid fn.getColor(grey, '300');
			width: 100%;

			div {
				display: flex;
				justify-content: space-between;
				padding: 0.25rem;
			}

			input,
			textarea {
				background-color: unset;
				border: unset;
				width: 100%;
			}

			& input:focus,
			textarea:focus {
				outline: unset;
			}
		}

		&_button {
			display: flex;
			justify-content: center;
			margin-top: 2rem;

			button {
				background-color: fn.getColor(yellow);
				padding: 0.5rem 1rem;
				border-radius: 0.5rem;
			}
		}
	}
}
