@use '../base' as fn;

.tags {
	display: flex;
	gap: 0.5rem;
	flex-wrap: wrap-reverse;

	&__item {
		padding: 0.25rem 0.25rem;
		color: #000;
		border-radius: 0.25rem;
		box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

		&_icon {
			display: flex;
			gap: 0.1rem;
			color: #fff;

			&--black {
				color: #000;
			}

			&--white {
				color: #fff;

				img {
					filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(108deg)
						brightness(104%) contrast(104%);
				}
			}
		}

		&--react {
			background-color: #61dafb;
		}

		&--javascript {
			background-color: #f7df1e;
		}

		&--express {
			background-color: #000000;
		}

		&--expo {
			background-color: #000020;
		}

		&--mongodb {
			background-color: #47a248;
		}
	}
}
