$colors: (
	grey: (
		'100': #f2efe9,
		'200': #8c8b8b,
		'300': #595856,
		'400': #262626,
		'500': #0d0d0d,
	),
	yellow: (
		'300': #f2ec9b,
	),
	blue: (
		'300': #007cbe,
	),
	green: (
		'300': #00a896,
	),
	red: (
		'300': #d95448,
	),
);
